html, body, textarea, input, textarea {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #333;
}
input, textarea {
    font-size: 1em;
}
h1 {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Arial Narrow", Arial, sans-serif;
	letter-spacing: -0.03em;
	font-size: 2em;
	border-bottom: 0.08em solid #CCC;	
}
h1 img {
    vertical-align: text-bottom;
    margin-right: 1em;
}
h2 {
    border-bottom: 0.08em solid #CCC;
}
.breadcrumb a {
    color: #3A7399;
    text-decoration: none;
}
#hello {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #333;
	font-weight: normal;
	float: right;
	font-size: 0.5em;
	letter-spacing: 0;	
	margin-right: 1em;
}
textarea {
	font-size: 100%;
	padding: 0.5em;
	line-height: 1.5em;
}	
table.translations {
	font-size: 90%;
	width: 100%;
}
table.translations th {
	font-weight: bold;
	color: #eee;
	background-color: #555;
}
table.translations tr {
	border: 0;
}
table.translations td, table.translations th {
	padding: 0.5em;
	border: 1px solid #eee;
	/* white-space: pre-wrap; */
	margin: 0;
	border-spacing: 0;
}

table.translations th.original, table.translations th.translation  {
	width: 45%;
}
table.translations tr.even {
	background-color: #fcfcfc;
}
table.translations tr.editor {
	background-color: #F8FFEC;
	display: none;
}
table.translations tr.preview.status-fuzzy {
	background-color: #FC6;
}
table.translations tr.preview.status-current {
	background-color: #CF6;
}
table.translations a.edit {
    font-size: 100%;
    font-style: normal;
}

#footer {
	text-align: center;
	font-size: 85%;
}
.separator {
	font-size: 80%;
	margin: 0.25em;
}
.clear {
	clear: both;
}
.half {
	float: left;
	width: 50%;
}
span.context {
	background-color: #666;
	color: white;
	padding: 0.2em;
}
.editor .comment {
	font-style: italic;
}
.editor .original {
	font-weight: bold;
}
.editor .textareas, .editor .actions {
	clear: both;
}
.editor .textareas {
    float: left;
}
.editor .meta {
	float: left;
	margin-left: 2em;
}
#gp-js-message {
	position: fixed;
	top: 0;
	padding: 0.5em;
	display: none;
	font-size: 85%;
	z-index: 1001;
}
.gp-js-error, .error {
	color: white;
	background-color: red;	
}
.gp-js-notice, .notice {
	color: #222;
	background-color: #FDDF9D;
}
.gp-js-success {
	color: white;
	background-color: #00DA12;
}
.notice, .error {
	padding: 0.5em;    
}
a.edit {
    font-style: italic;
    font-size: 85%;
}