html, body, textarea, input {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #333;
	line-height: 1.5em;
}
input, textarea {
    font-size: 1em;
}
h1 {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Arial Narrow", Arial, sans-serif;
	letter-spacing: -0.03em;
	font-size: 2em;
	padding-bottom: 0.1em;
	border-bottom: 0.06em solid #CCC;	
}
h1 img {
    vertical-align: text-bottom;
    margin-right: 1em;
}
/* we take the liberty to make visited the same as link */
a, a:link, a:visited {
    color: #2F34B8;
}
a:active {
    color: red;
}
a img {
    border: 0;
}
h2 {
    border-bottom: 0.08em solid #CCC;
}
h3 {
    color: #999;
}
.breadcrumb a {
    color: #3A7399;
    text-decoration: none;
}
#hello {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #333;
	font-weight: normal;
	float: right;
	font-size: 0.5em;
	letter-spacing: 0;	
	margin-right: 1em;
}
textarea {
	font-size: 100%;
	padding: 0.5em;
	line-height: 1.5em;
}	
table.translations {
	font-size: 90%;
	width: 100%;
	border-spacing: 0.1em;
}
table.translations th {
	font-weight: bold;
	color: #eee;
	background-color: #555;	
}
table.translations tr {
	border: 0;
}
table.translations td.translation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
table.translations td.translation li {
    padding-bottom: 0.25em;
    border-bottom: 1px dotted #ccc;
}
table.translations td.translation li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
table.translations td.translation span.missing {
    color: #ddd;
    font-style: italic;
}
table.translations td.translation span.missing a {
    color: #ccc;
    font-style: italic;
}

table.translations td, table.translations th {
	padding: 0.5em;
	border: 1px solid #eee;
	/* white-space: pre-wrap; */
	margin: 0;
	border-spacing: 0;
}
table.translations td.checkbox {
    vertical-align: middle;
    text-align: center;
}
table.translations td.actions {
    text-align: center;
}
table.translations td.original, table.translations td.translation {
    width: 40%;
}

table.translations th.original, table.translations th.translation  {
	width: 45%;
}
table.translations tr.even {
	background-color: #fcfcfc;
}
table.translations tr.editor {
	background-color: #F8FFEC;
	display: none;
}
table.translations tr.preview.status-fuzzy {
	background-color: #FC6;
}
table.translations tr.preview.status-current {
	background-color: #E9FFD8;
}
table.translations tr.preview.status-old {
	background-color: #FEE4F8;
}
table.translations tr.preview.status-waiting {
	background-color: #FFFFC2;
}
table.translations tr.preview.has-warnings td.original {
    border-left: 2px solid red;
}

table.translations a.action {
    font-size: 100%;
    font-style: normal;
}
#footer {
	text-align: center;
	font-size: 85%;
}
.separator {
	font-size: 80%;
	margin: 0.25em;
}
.clear {
	clear: both;
}
.half {
	float: left;
	width: 50%;
}
span.context {
	background-color: #aaa;
	color: white;
	padding: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;	
	text-align: center;
}
.editor .original {
	font-weight: bold;
	white-space: pre-wrap;
	width: 50em;
}
.editor .strings {
    float: left;
    width: 60%;
}
.editor .strings p.plural-numbers {
}
.editor .strings p.plural-numbers span.numbers {
    font-weight: bold;
}
.editor .textareas, .editor .actions {
	clear: both;
}
.editor .textareas textarea {
    width: 45em;
    min-height: 8em;
}
.editor .meta {
	float: left;
	margin-left: 2em;
}
.editor .meta dl {
    margin: 0.1em 1em;
}
.editor .meta dt, .editor .meta dd {
    display: inline;
    margin: 0;
}
.editor .meta dt {
    margin-right: 0.5em;
}
.editor .meta dt {
    margin-right: 0.5em;    
}
.editor .meta dd {
    color: #444;
    font-weight: bold;
}

#gp-js-message {
	position: fixed;
	top: 0;
	padding: 0.5em;
	display: none;
	font-size: 85%;
	z-index: 1001;
}
.gp-js-error, .error {
	color: white;
	background-color: red;	
}
.gp-js-notice, .notice {
	color: #222;
	background-color: #FDDF9D;
}
.gp-js-success {
	color: white;
	background-color: #00DA12;
}
.notice, .error {
	padding: 0.5em;    
}
ul a.action {
    font-size: 70%;
    color: white;
    padding: 0.2em 0.2em 0.1em 0.2em;
    text-decoration: none;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    text-align: center;
}
ul a.edit {
    background-color: #777;    
}
ul a.delete {
    background-color: #FF4F50;
}
.paging {
    float: right;
}
.paging a, .paging span {
    font-size: 0.9em;
    display: block;
    width: 2em;
    height: 2em;
    border: 1px solid #ddd;
    float: left;
    text-align: center;
    line-height: 2em;
    margin: 0.3em;
    text-decoration: none;
}
.paging .current, .paging .dots {
    border-color: transparent;
    color: black;
    width: 1.3em;
}
.paging .current {
    font-weight: bold;
}
.paging .disabled {
    color: #999;
    border-color: #eee;
}
form.filters-toolbar {
    float: left;
}
form.filters-toolbar ul {
    list-style-type: none;    
}
form.filters-toolbar a.revealing {
    text-decoration: none;
}
form.filters-toolbar a.revealing, form.filters-toolbar .separator {
    margin-bottom: 0;
}
form.filters-toolbar a.revealing.open {
    font-weight: bold;
}
form.filters-toolbar a.revealing:first-child {
    margin-left: 0.5em;
}
form.filters-toolbar strong.separator {
    font-size: 1.8em;
    vertical-align: bottom;
}
dl.filters-expanded {
    font-size: 80%;    
    padding: 0.8em;
    margin: 0 0 0.5em 0.2em;
    background-color: #eee;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
}
dl.filters-expanded dt, dl.filters-expanded dd {
    float: left;
    margin: 0;
    padding: 0;
}
dl.filters-expanded dt {
    margin-right: 0.5em;
    font-weight: bold;
}
dl.filters-expanded dd {
    margin-right: 2em;
}
dl.filters-expanded.bulk-actions a {
    display: block;
}
.hidden {
    display: none;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
ul.translation-sets .stats a {
    color: white;
    text-decoration: none;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	padding: 0.1em 0.2em;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
}

ul.translation-sets .translated {
    background-color: #090;
}
ul.translation-sets .untranslated {
    background-color: #d00;
}
ul.translation-sets .waiting {
    background-color: #d90;
}
.personal-options #source-url-template {
    width: 20em;
}
.invisibles {
    color: #888;
    font-size: 85%;
    padding: 0;
    margin-left: 2px;
}
.secondary {
    font-size: 0.85em;
}
.ternary {
    font-size: 0.7em;
}
.actionlist a, .actionlist a:link, .actionlist a:visited {
    color: #4D56DC;
}
.actionlist a:active {
    color: red;
}
#translation-set-permissions .user {
    font-weight: bold;
}
#translation-set-permissions .permission-action {
    font-style: italic;
    color: #999;
}
.warning {
    background-color: white;
    color: #E44B3E;
    border: 1px solid #E44B3E;
    margin: 1em 0;
    padding: 0.5em;
}
.warning a.discard-warning {
    float: right;
}
.textareas .warning {
    width: 53em;
}