# In the tests/data folder there are some data files that need to use unix line endings to ensure the tests pass correctly.
*.android.xml text eol=lf
*.resx.xml text eol=lf
*.properties text eol=lf
*.po text eol=lf

/.github export-ignore
/.wordpress-org export-ignore
/bin export-ignore
/tests export-ignore
.editorconfig export-ignore
.eslintignore export-ignore
.eslintrc.json export-ignore
.git-blame-ignore-revs export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore
.nvmrc export-ignore
.scrutinizer.yml export-ignore
composer.json export-ignore
composer.lock export-ignore
.wp-env.json export-ignore
codecov.yml export-ignore
Gruntfile.js export-ignore
package-lock.json export-ignore
package.json export-ignore
phpcs.xml.dist export-ignore
phpunit.xml.dist export-ignore
