<phpunit
	bootstrap="tests/config/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="glotpress">
			<directory prefix="test_" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <directory suffix=".php">./gp-includes</directory>
            <exclude>
                <directory suffix=".php">./gp-templates</directory>
                <directory suffix=".php">./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
