/*
 *  webui popover plugin  - v1.0.5
 *  A lightWeight popover plugin with jquery ,enchance the  popover plugin of bootstrap with some awesome new features. It works well with bootstrap ,but bootstrap is not necessary!
 *  https://github.com/sandywalker/webui-popover
 *
 *  Made by Sandy Duan
 *  Under MIT License
 */
/*  webui popover  */
.webui-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 276px;
  min-height: 50px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.webui-popover.top,
.webui-popover.top-left,
.webui-popover.top-right {
  margin-top: -10px;
}
.webui-popover.right,
.webui-popover.right-top,
.webui-popover.right-bottom {
  margin-left: 10px;
}
.webui-popover.bottom,
.webui-popover.bottom-left,
.webui-popover.bottom-right {
  margin-top: 10px;
}
.webui-popover.left,
.webui-popover.left-top,
.webui-popover.left-bottom {
  margin-left: -10px;
}
.webui-popover-inner .close {
  font-family: arial;
  margin: 5px 10px 0 0;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.webui-popover-inner .close:hover,
.webui-popover-inner .close:focus {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.webui-popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.webui-popover-content {
  padding: 9px 14px;
  overflow: auto;
}
.webui-popover-inverse {
  background-color: #333333;
  color: #eeeeee;
}
.webui-popover-inverse .webui-popover-title {
  background: #3b3b3b;
  border-bottom: none;
  color: #eeeeee;
}
.webui-no-padding .webui-popover-content {
  padding: 0;
}
.webui-no-padding .list-group-item {
  border-right: none;
  border-left: none;
}
.webui-no-padding .list-group-item:first-child {
  border-top: 0;
}
.webui-no-padding .list-group-item:last-child {
  border-bottom: 0;
}
.webui-popover > .arrow,
.webui-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.webui-popover > .arrow {
  border-width: 11px;
}
.webui-popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.webui-popover.top > .arrow,
.webui-popover.top-right > .arrow,
.webui-popover.top-left > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}
.webui-popover.top > .arrow:after,
.webui-popover.top-right > .arrow:after,
.webui-popover.top-left > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}
.webui-popover.right > .arrow,
.webui-popover.right-top > .arrow,
.webui-popover.right-bottom > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.webui-popover.right > .arrow:after,
.webui-popover.right-top > .arrow:after,
.webui-popover.right-bottom > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.webui-popover.bottom > .arrow,
.webui-popover.bottom-right > .arrow,
.webui-popover.bottom-left > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}
.webui-popover.bottom > .arrow:after,
.webui-popover.bottom-right > .arrow:after,
.webui-popover.bottom-left > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}
.webui-popover.left > .arrow,
.webui-popover.left-top > .arrow,
.webui-popover.left-bottom > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.webui-popover.left > .arrow:after,
.webui-popover.left-top > .arrow:after,
.webui-popover.left-bottom > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
.webui-popover-inverse.top > .arrow,
.webui-popover-inverse.top-left > .arrow,
.webui-popover-inverse.top-right > .arrow,
.webui-popover-inverse.top > .arrow:after,
.webui-popover-inverse.top-left > .arrow:after,
.webui-popover-inverse.top-right > .arrow:after {
  border-top-color: #333333;
}
.webui-popover-inverse.right > .arrow,
.webui-popover-inverse.right-top > .arrow,
.webui-popover-inverse.right-bottom > .arrow,
.webui-popover-inverse.right > .arrow:after,
.webui-popover-inverse.right-top > .arrow:after,
.webui-popover-inverse.right-bottom > .arrow:after {
  border-right-color: #333333;
}
.webui-popover-inverse.bottom > .arrow,
.webui-popover-inverse.bottom-left > .arrow,
.webui-popover-inverse.bottom-right > .arrow,
.webui-popover-inverse.bottom > .arrow:after,
.webui-popover-inverse.bottom-left > .arrow:after,
.webui-popover-inverse.bottom-right > .arrow:after {
  border-bottom-color: #333333;
}
.webui-popover-inverse.left > .arrow,
.webui-popover-inverse.left-top > .arrow,
.webui-popover-inverse.left-bottom > .arrow,
.webui-popover-inverse.left > .arrow:after,
.webui-popover-inverse.left-top > .arrow:after,
.webui-popover-inverse.left-bottom > .arrow:after {
  border-left-color: #333333;
}
.webui-popover i.icon-refresh {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  background: url(../img/loading.gif) no-repeat;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.webui-popover {
	z-index: 999999999;
	direction: ltr;
}

.webui-popover p {
	margin: 0;
}

.webui-popover p.context, .webui-popover p.comment {
	margin: 0 0 .5em 0;
	display: none;
	font-color: #999;
	font-style: italic;
}

.webui-popover p.other-originals {
	margin: 0 0 .5em 0;
	display: none;
}

.webui-popover p.info {
	margin: .5em 0;
	display: none;
}

.webui-popover tt {
	padding: .3em;
	background-color: #eee;
}

.webui-popover textarea {
	height: 100px;
	margin-bottom: 0.8em;
	color: #000;
	background: #fff;
	width: 100%;
}

/* We override color & background-color with and without ::selection to
 * ensure that input methods are rendered visibly.
 */
.webui-popover textarea::selection {
	color: #2e4453;
	background: rgba(120, 220, 250, 0.7);
}

.webui-popover textarea::-moz-selection {
	color: #2e4453;
	background: rgba(120, 220, 250, 0.7);
}

div.webui-popover button {
	float: right;
	margin-top: .5em;
}

div.webui-popover button.save {
	margin-bottom: .5em;
}

.webui-popover div.a8c-similar-translations {
	display: none;
	height: 30px;
	overflow: auto;
}

.webui-popover-title span {
	float: right;
	margin-left:6px;
}

.webui-popover-title a {
	text-decoration: none;
}

.webui-popover hr {
	margin-bottom: 0;
}

.webui-popover .pairs {
	margin-top: 1em
}

.translator-translated {
	text-shadow: 0px 0px 10px #0f0, 0px 0px 2px #4cb420 !important;
	cursor: pointer;
}
.translator-checking {
	text-shadow: 0px 0px 1px #e83 !important;
}
.translator-user-translated {
	text-shadow: 0px 0px 10px #ff0, 0px 0px 2px #ffba00 !important;
	cursor: pointer;
}
.translator-untranslated {
	text-shadow: 0px 0px 10px #f00, 0px 0px 2px #dd3d36 !important;
	cursor: pointer;
}

.translator-highlight {
	border: 5px solid #dd3d36 !important;
	margin: -5px !important;
}

iframe.translator-untranslatable::after {
	content: 'Cannot be translated:';
	color: #00f;
}

iframe.translator-untranslatable {
	border: 1px dotted #00f !important;
}

.webui-popover > .arrow {
	margin: 0;
}

.webui-popover p.local-inline-warning {
	color: #a62626;
	border: #a62626 thin solid;
    padding: 0.3em;
    border-radius: 3px;
}

.webui-popover #inline-copy-original{
	margin-right: .6em;
}

.webui-popover .additional ul.suggestions  {
	clear: both;
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #999;
}

.webui-popover .additional summary  {
	cursor: pointer;
}

.webui-popover .additional blockquote  {
	border-left: 3px solid #ddd;
	padding: .5em 1em;
	margin-left: 0;
}

.webui-popover .additional textarea.prompt  {
	height: 50px;
}

.webui-popover .additional li {
	clear: both;
	margin-bottom: .7em;
}

.webui-popover .additional li button {
	cursor: pointer;
	margin-top: 0;
	margin-left: .5em;
}

.webui-popover .additional li span {
	vertical-align: middle;
}

.webui-popover .local-copy-btn {
	margin-bottom: .2em;
	cursor: pointer;
}

.webui-popover .glossary-word {
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: max(1px,0.063rem);
    text-underline-offset: 0.1em;
    text-underline-position: under;
    cursor: help;
}

/* Hide visually but not from screen readers */
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.ui-tooltip {
	background-color: #ddd;
	margin: 2px;
	padding: 6px;
	text-align: left;
	max-width: 30em;
	z-index: 999999999 !important;
	border-radius: 10px;
	position: absolute;
	top: 100px;
	left: 100px;
}

.ui-tooltip ul {
	list-style-type: none;
	margin: 2px;
	padding-left: 10px;
}

.ui-tooltip ul li {
	padding: 0;
	margin: 0;
	margin-bottom: .5em;
}

.ui-tooltip .pos {
	display:inline-block;
	font-style: italic;
	padding-right: 10px;
}

.ui-tooltip .translation {
	font-weight: bold;
}

.ui-tooltip .comment {
	display: block;
	font-size: 90%;
}

.ui-tooltip:after {
	display: block;
	content: "";
	border-color: #ddd transparent;
	border-style: solid;
	border-width: 0 10px 10px;
	width: 0;
	position: absolute;
	top: -8px;
	left: 1em;
}
