
#translator-launcher {
	position: fixed;
	bottom: 76px;
	right: 24px;
	border-radius: 24px;
	background: #0085be !important;
	padding: 4px !important;
	font-size: 16px;
	z-index: 99;
	display: none;
	cursor: pointer;
	color: #fff;
}
