body, html,
.gp-content,
.gp-content textarea,
.gp-content input {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #333;
	line-height: 1.5em;
	font-size: 14px;
}

body, html {
	margin: 0;
}

.gp-content input,
.gp-content textarea {
	font-size: 1em;
}

/* we take the liberty to make visited the same as link */
a, a:link, a:visited {
	color: #2F34B8;
}

a:active {
	color: red;
}

a img {
	border: 0;
}

a.disabled {
	color: #aaa;
	text-decoration: none;
}

.gp-content h2 {
	background-color: #ddd;
	padding: 0.5em;
}

.gp-content h2 a.edit {
	font-size: 0.75em;
	text-decoration: none;
}

.gp-content h2 a.glossary-link {
	font-size: 0.75em;
	text-decoration: none;
	display:inline-block;
	float:right;
}

h3 {
	font-size: 1.1em;
	font-weight: bold;
	background-color: #eee;
	padding: 0.25em 0.5em;
	color: #444;
}

select {
	font-size: 12px;
	line-height: 14px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	background-color: #fff;
	padding: 2px;
	height: 2em;
}

/*
 * GP BAR
 */
.gp-bar {
	background: #464646;
	padding: 0 1em;
}

.gp-bar a {
	color: #fff;
	text-decoration: none;
}

.gp-bar h1 {
	float: left;
	font-size: 1.2857em;
	line-height: 1.4em;
	margin-right: 10px;
}

.gp-bar nav a {
	display: inline-block;
	padding: 1em;
}

.gp-bar nav a:hover {
	background: rgba(0,0,0,0.5);
}

.gp-bar #main-navigation {
	float: left;
}

.gp-bar #side-navigation {
	float: right;
}

/*
 * Breadcrumbs
 */
.breadcrumb {
	background-color: #eee;
	border: 1px solid #ddd;
	margin: 20px 0;
	padding: 7px 14px;
}

.breadcrumb li {
	display: inline-block;
	text-shadow: 0 1px 0 #ffffff;
}

.breadcrumb li:after {
	color: #999;
	content: '/';
	padding: 0 7px;
}

.breadcrumb li:last-child:after {
	content: '';
	color: red;
}

.breadcrumb a {
	color: #08c;
	text-decoration: none;
}

.breadcrumb a:hover {
	color: #005580;
	text-decoration: underline;
}

.breadcrumb span.active {
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	margin-left: .3em;
}


/*
 * GP Content
 */
.gp-content {
	margin: 0 1em;
}

/*
 * Footer
 */
#gp-footer {
	text-align: center;
	font-size: 85%;
	background-color: #ddd;
	margin: 1em;
	padding: 0.5em;
}

/*
 * Rest
 */
.gp-content input.button {
	text-decoration: none;
	font-size: 12px;
	line-height: 14px;
	padding: 3px 8px;
	cursor: pointer;
	border: 1px solid #bbb;
	color: #464646;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	background-color: #f2f2f2; /* Fallback */
	background-image: -ms-linear-gradient(bottom, #ededed, #fff); /* IE10 */
	background-image: -moz-linear-gradient(bottom, #ededed, #fff); /* Firefox */
	background-image: -o-linear-gradient(bottom, #ededed, #fff); /* Opera */
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ededed), to(#fff)); /* old Webkit  */
	background-image: -webkit-linear-gradient(bottom, #ededed, #fff); /* new Webkit */
	background-image: linear-gradient(bottom, #ededed, #fff); /* proposed W3C Markup */
	text-shadow: #fff 0 1px 0;
}

textarea {
	font-size: 100%;
	padding: 0.5em;
	line-height: 1.5em;
	width: 40em;
}

.button-link {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #2F34B8;
	line-height: 1.5em;
	font-size: 14px;
	margin: 0;
	padding: 0;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	background: none;
	outline: none;
	cursor: pointer;
	text-align: left;
	text-decoration: underline;
}

table.translations,
table.translation-sets,
table.glossary,
table.locale-sub-projects,
table.permissions {
	font-size: 90%;
	width: 100%;
	border-spacing: 0.1em;
}

table.translations thead th,
table.translations tfoot th,
table.translation-sets thead th,
table.glossary thead th,
table.locale-sub-projects thead th,
table.permissions thead th,
table.locales thead th {
	font-weight: bold;
	color: #eee;
	background-color: #555;
	padding: 0.5em;
}

table.translation-sets.tablesorter-glotpress thead th,
table.locales.tablesorter-glotpress thead th {
    padding-right: 20px;
}

table.locales thead th {
	width: 33%;
}

table.permissions thead th {
	width: 20%;
}

table.permissions tr:nth-child(even) {
	background-color: #eeeeee;
}

table.translations tr,
table.translation-sets tr,
table.glossary tr,
table.locale-sub-projects,
table.permissions {
	border: 0;
}

table.translations td.translation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

table.translations td.translation li {
	padding-bottom: 0.25em;
	border-bottom: 1px dotted #ccc;
}

table.translations td.translation li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

table.translations td.translation span.missing {
	color: #ddd;
	font-style: italic;
}

table.translations td.translation span.missing a {
	color: #ccc;
	font-style: italic;
}

table.translations td,table.translations th,
table.translation-sets td, table.translation-sets th,
table.locales td, table.locales th,
table.permissions td, table.permissions th,
table.glossary th, table.glossary td,
table.locale-sub-projects th,
table.locale-sub-projects td {
	padding: 0.5em;
	border: 1px solid #eee;
	margin: 0;
	border-spacing: 0;
}

table.translations td.checkbox {
	vertical-align: middle;
	text-align: center;
}

table.translations td.priority {
	text-align: center;
	font-size: 1.3em;

}

table.translations td.actions {
	text-align: center;
}

table.translations.translation-sets-rtl .foreign-text {
	direction: rtl;
}

table.translations td.original, table.translations td.translation {
	width: 45%;
	word-break: break-all;
	word-wrap: break-word;
}

table.translations tr:nth-child(4n+3) {
	background-color: #fcfcfc;
}

table.translations tr.editor {
	background-color: #F8FFEC;
	display: none;
}

table.translations tr.preview.status-fuzzy, #legend .status-fuzzy {
	background-color: #FC6;
}

table.translations tr.preview.status-current, #legend .status-current  {
	background-color: #E9FFD8;
}

table.translations tr.preview.status-old, #legend .status-old {
	background-color: #FEE4F8;
}

table.translations tr.preview.status-waiting, #legend .status-waiting {
	background-color: #FFFFC2;
}

table.translations tr.preview.status-rejected, #legend .status-rejected {
	background-color: #FF8E8E;
}

table.translations tr.preview.has-warnings td.original, div#legend div.has-warnings {
	border-left: 2px solid red;
}

table.translations tr.preview.root-translation, #legend .root-translation  {
	background-color: #EEEEEE;
}

table.translations a.action {
	font-size: 100%;
	font-style: normal;
}

/*
 * Misc.
 */
.separator {
	font-size: 80%;
	margin: 0.25em;
}

.clear {
	clear: both;
}

.half {
	float: left;
	width: 50%;
}

span.context {
	background-color: #aaa;
	color: white;
	font-size: 100%;
	padding: 0.3em;
	word-break: break-all;
	word-wrap: break-word;
}

span.morethan90 {
	background-color: green;
	color: white;
}

/*
 * Translation Row Editor
 */
.editor .original, .editor .original_raw {
	font-weight: bold;
	white-space: pre-wrap;
	max-width: 50em;
	word-break: break-all;
}

.editor .original_raw {
	visibility: hidden;
	height: 0px;
}

.editor .translation {
	white-space: pre-wrap;
	word-break: break-all;
}

.editor .strings {
	float: left;
	min-width: 60%;
}

.editor .strings .textareas textarea {
	width: 95%;
	resize: vertical;
}

.editor .strings p.plural-numbers {
	margin-bottom: 0;
	color: #555;
	font-size: 0.75em;
}

.editor .strings p.plural-numbers span.numbers {
	font-weight: bold;
}

.editor .actions {
	padding-top: 15px;
}

.editor .textareas, .editor .actions {
	clear: both;
}

.editor .textareas textarea {
	width: 45em;
	min-height: 8em;
}

.editor .meta {
	float: left;
	width: 35%;
	margin-left: 2em;
}

.editor .meta dl {
	margin: 0.1em 1em;
}

.editor .meta dt, .editor .meta dd {
	display: inline;
	margin: 0;
}

.editor .meta dt {
	margin-right: 0.5em;
}

.editor .meta dt {
	margin-right: 0.5em;
}

.editor .meta dd {
	color: #444;
	font-weight: bold;
}

/*
 * JavaScript, errors and notices.
 */
.gp-js-message {
	position: fixed;
	top: 0;
	padding: 1em;
	display: none;
	z-index: 1001;
}

.gp-js-message-dismiss {
	color: #fff;
}

.gp-js-error, .error {
	color: white;
	background-color: red;
}

.gp-js-notice, .notice {
	color: #222;
	background-color: #FDDF9D;
}

.gp-js-success {
	color: white;
	background-color: #00DA12;
}

.notice, .error {
	clear: both;
	padding: 0.5em;
}

a.bubble, .bubble {
	font-size: 80%;
	color: white;
	padding: 0.2em 0.3em 0.1em 0.2em;
	text-decoration: none;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	text-align: center;
}

span.active {
	background-color: yellow;
	color: #555;
	font-weight: bold;
}

span.locale-entry.bubble {
	background-color: #555;
	color: #ddd;
	font-weight: bold;
	margin-right: 0.5em;
}

ul a.edit, dt a.edit {
	background-color: #777;
}

ul a.delete {
	background-color: #FF4F50;
}

/*
 * Page UI
 */
.paging {
	float: right;
}

.paging a, .paging span {
	font-size: 0.9em;
	display: block;
	width: 2em;
	height: 2em;
	border: 1px solid #ddd;
	float: left;
	text-align: center;
	line-height: 2em;
	margin: 0.3em;
	text-decoration: none;
}

.paging .current, .paging .dots {
	border-color: transparent;
	color: black;
	width: 1.3em;
}

.paging .current {
	font-weight: bold;
}

.paging .next {
	margin-right: 1px;
}

.paging .disabled {
	color: #999;
	border-color: #eee;
}

/*
 * Bulk Actions
 */
.bulk-actions {
	float: left;
}

.bulk-actions input {
	margin-right: 8px;
}

.bulk-actions select {
	width: 130px;
}

/*
 * Filter menu
 */
.filter-toolbar {
	float: left;
}

/*
 * Translation page filters
 */
.filter-current,
.filter-title {
	font-weight: bold;
}

form.filters-toolbar > div {
	line-height: 2em;
}

form.filters-toolbar ul {
	list-style-type: none;
}

form.filters-toolbar a.revealing {
	text-decoration: none;
}

form.filters-toolbar a.revealing, form.filters-toolbar .separator {
	margin-bottom: 0;
}

form.filters-toolbar a.revealing.open {
	font-weight: bold;
}

form.filters-toolbar a.revealing:first-child {
	margin-left: 0.5em;
}

form.filters-toolbar strong.separator {
	font-size: 1.8em;
	vertical-align: bottom;
}

dl.filters-expanded {
	float: left;
	font-size: 80%;
	padding: 0.8em;
	margin: 0 0 0.5em 0.2em;
	background-color: #eee;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
}

dl.filters-expanded dt, dl.filters-expanded dd {
	float: left;
	margin: 0;
	padding: 0;
}

dl.filters-expanded dt {
	margin-right: 0.5em;
	font-weight: bold;
}

dl.filters-expanded dd {
	margin-right: 2em;
}
dl.filters-expanded dd.separator {
	border-left: 1px dotted #777;
	height: 4em;
	width: 1em;
}
dl.filters-expanded.bulk-actions a {
	display: block;
}
dl.filters-expanded dt p:first-child, dl.filters-expanded dd p:first-child {
	margin-top: 0;
	padding-top: 0;
}

.hidden,
.js .hide-if-js,
.no-js .hide-if-no-js {
	display: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

table.translation-sets .stats a, table.locale-sub-projects .stats a {
	color: black;
	text-decoration: none;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	padding: 0.1em 0.2em;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
}

.personal-options #source-url-template {
	width: 20em;
}

.invisibles {
	color: #888;
	font-size: 85%;
	padding: 0;
	margin-left: 2px;
}

.secondary {
	font-size: 0.95em;
}

.ternary {
	font-size: 0.8em;
}

.actionlist {
	margin-left: 1em;
}

.actionlist a, .actionlist a:link, .actionlist a:visited {
	color: #4D56DC;
}

.actionlist a:active {
	color: red;
}

.permissions .user {
	font-weight: bold;
}

.permissions .permission-action {
	font-style: italic;
	color: #999;
}

.warning {
	background-color: white;
	color: #E44B3E;
	border: 1px solid #E44B3E;
	margin: 1em 0;
	padding: 0.5em;
}

.warning:after {
	clear:both;
	content: "";
	display: block;
}

.warning a.discard-warning {
	float: right;
}

p.description {
	max-width: 60em;
	margin-left: 1em;
	padding-left: 1em;
	border-left: 3px solid #aaa;
	margin-top: -0.75em;
}

span.added {
	color: green;
}

span.removed {
	color: red;
}

#legend {
	float: left;
	margin-top: .3em;
	padding-left: 1.5em;
}

#legend div {
	margin-right: .5em;
	float: left;
	line-height: 1.5em;
}

#legend .box {
	border: 1px solid #ccc;
	width: 1.5em;
	height: 1.5em;
	padding: 0;
}

.gp-content .text {
	width: 45em;
	margin-left: 6em;
}

a.project-actions {
	font-weight: bold;
	text-decoration: none;
}

.project-actions ul {
	margin-top: 0em;
}

.with-sub-projects {
	margin-left: 24em;
}

#sub-projects {
	float: left;
	width: 20em;
	margin-right: 4em;
	margin-left: -24em;
}

#sub-projects dd {
	font-size: 0.75em;
	line-height: 1.3em;
	color: #555;
	margin: 0;
}

#sub-projects dl {
	margin-left: 0.5em;
}

#sub-projects dt {
	margin-top: 0.5em;
}

#sub-projects a {
	font-weight: bold;
	text-decoration: none;
}

#sub-projects a.action {
	font-weight: normal;
}

.with-sub-projects #translation-sets {
	float: right;
	width: 100%;
}

.translation-sets .percent, .locale-sub-projects .percent {
	font-weight: bold;
}

.translation-sets .stats {
	text-align: center;
}

.translation-sets td, .locales td {
	padding: 0.5em 0.75em;
}

.translation-sets tr, .locales tr {
	background-color: #eee;
}

.translation-sets tr:nth-child(odd), .locales tr:nth-child(odd) {
	background-color: #fff;
}

.translation-sets tr:hover, .locales tr:hover {
	background-color: #dee;
}

.translation-sets tr:nth-child(odd):hover, .locales tr:nth-child(odd):hover {
	background-color: #eff;
}

#submit {
	font-size: 1.5em;
	margin: 0 0.1em 0 0;
}

span.or-cancel {
	font-size: 0.85em;
}

table.form-table th {
	text-align: left;
	vertical-align: text-top;
}

table.form-table th, table.form-table td {
	padding: 10px 0 0 0;
}

.glossary-description {
	height: 150px;
}

.glossary td {
	padding: 0.5em 0.75em;
}

.glossary tr {
	background-color: #fcfcfc;
}

.glossary tr:nth-child(4n+1) {
	background-color: #fff;
}

.glossary tr.active {
	background-color: #F8FFEC;
}

.glossary td.actions {
	text-align: center;
}

.glossary td.actions ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.glossary td.actions ul li{
	display: inline;
	padding-right: 10px;
}

.glossary td.actions ul a {
	background: none;
}

.glossary-word {
	display: inline-block;
	text-decoration: none;
	border-bottom:1px dashed;
	cursor: help;
}

/* jQuery UI */
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ui-tooltip {
	background-color: #eee;
	margin: 2px;
	padding: 6px;
	text-align: left;
	max-width: 250px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.ui-tooltip ul {
	list-style-type: none;
	margin: 2px;
	padding-left: 10px;
}

.ui-tooltip ul li {
	padding: 0;
	margin: 0;
}

.ui-tooltip .pos {
	display:inline-block;
	font-style: italic;
	padding-right: 10px;
}

.ui-tooltip .translation {
	font-weight: bold;
}

.ui-tooltip .comment {
	display: block;
	font-size: small;
}

.ui-tooltip:after {
	display: block;
	content: "";
	border-color: #eee transparent;
	border-style: solid;
	border-width: 0 10px 10px;
	width: 0;
	position: absolute;
	top: -8px;
	left: 1em;
}

/*
 * User Profile
 */
#profile {
	overflow: hidden;
}

.user-card {
	margin-bottom: 5px;
	overflow: hidden;
}

.user-card .user-avatar {
	float: left;
	margin: 0 12px 0 0;
	width: 100px;
	height: 100px;
}

.user-card dl.user-info dt {
	font-size: 12px;
	color: #888;
	margin: 5px 6px 0 0px;
	font-weight: bold;
}

.recent-projects {
	float:left;
	width:47%;
}

.recent-projects li {
	padding: 8px;
}

.recent-projects p {
	margin: 0;
	padding: 0;
}

.recent-projects .ago {
	color: #888;
	font-size: 13px;
	font-style:italic;
	margin: 0;
	padding: 0;
}

.validates-projects {
	margin-left:50%;
}

.validates-projects p {
	margin: 0;
	padding: 0;
}

.validates-projects li {
	padding: 8px;
}

#add-entry input {
	width: 200px;
	padding: 5px;
}

table.locale-sub-projects {
	empty-cells: hide;
}

table.locale-sub-projects thead th {
	text-align:left;
}

.locale-sub-projects .project-name {
	border-collapse: separate;
	border-spacing: 20px 5px;
	border: 2px solid #0ff;
}

.locale-sub-projects .project-name th {
	font-size: 1.1em;
	font-weight: bold;
	background-color: #eee;
	padding: 0.25em 0.5em 1em 0.5em;
	color: #444;
}

.locale-sub-projects th div.stats {
    font-weight:normal;
}


.locale-sub-projects td {
	border:none;
	border-bottom: 1px solid #eee;
}

.locale-sub-projects tr:hover td {
	background-color:#eff;
}

.locale-sub-projects .sub-project {
	border:none;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #eee;
}


.locale-sub-projects {
	margin-bottom: 30px;
}

.locale-sub-projects thead th:nth-child(-n+2) {
	width: 20%;
}
.locale-sub-projects thead th:nth-child(n+3) {
	width: 15%;
}

/*
 *Media specific settings
 */
@media (max-width: 800px) {
	#sub-projects {
		float: none;
	}

	#translation-sets.with-sub-projects {
		margin: 0;
	}

	.locale-project {
		margin-left: 0;
	}

	.locale-project .project-description {
		float: none;
		margin-left: 0;
	}
}
