<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="lib/bootstrap.php" backupGlobals="false" colors="true">
	<testsuites>
		<!-- Default test suite to run all tests -->
		<testsuite>
			<directory suffix=".php">tests</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>