.webui-popover {
	z-index: 999999999;
	direction: ltr;
}

.webui-popover p {
	margin: 0;
}

.webui-popover p.context, .webui-popover p.comment {
	margin: 0 0 .5em 0;
	display: none;
	font-color: #999;
	font-style: italic;
}

.webui-popover p.other-originals {
	margin: 0 0 .5em 0;
	display: none;
}

.webui-popover p.info {
	margin: .5em 0;
	display: none;
}

.webui-popover tt {
	padding: .3em;
	background-color: #eee;
}

.webui-popover textarea {
	height: 100px;
	margin-bottom: 0.8em;
	color: #000;
	background: #fff;
	width: 100%;
}

/* We override color & background-color with and without ::selection to
 * ensure that input methods are rendered visibly.
 */
.webui-popover textarea::selection {
	color: #2e4453;
	background: rgba(120, 220, 250, 0.7);
}

.webui-popover textarea::-moz-selection {
	color: #2e4453;
	background: rgba(120, 220, 250, 0.7);
}

div.webui-popover button {
	float: right;
	margin-top: .5em;
}

div.webui-popover button.save {
	margin-bottom: .5em;
}

.webui-popover div.a8c-similar-translations {
	display: none;
	height: 30px;
	overflow: auto;
}

.webui-popover-title span {
	float: right;
	margin-left:6px;
}

.webui-popover-title a {
	text-decoration: none;
}

.webui-popover hr {
	margin-bottom: 0;
}

.webui-popover .pairs {
	margin-top: 1em
}

.translator-translated {
	text-shadow: 0px 0px 10px #0f0, 0px 0px 2px #4cb420 !important;
	cursor: pointer;
}
.translator-checking {
	text-shadow: 0px 0px 1px #e83 !important;
}
.translator-user-translated {
	text-shadow: 0px 0px 10px #ff0, 0px 0px 2px #ffba00 !important;
	cursor: pointer;
}
.translator-untranslated {
	text-shadow: 0px 0px 10px #f00, 0px 0px 2px #dd3d36 !important;
	cursor: pointer;
}

.translator-highlight {
	border: 5px solid #dd3d36 !important;
	margin: -5px !important;
}

iframe.translator-untranslatable::after {
	content: 'Cannot be translated:';
	color: #00f;
}

iframe.translator-untranslatable {
	border: 1px dotted #00f !important;
}

.webui-popover > .arrow {
	margin: 0;
}

.webui-popover p.local-inline-warning {
	color: #a62626;
	border: #a62626 thin solid;
    padding: 0.3em;
    border-radius: 3px;
}

.webui-popover #inline-copy-original{
	margin-right: .6em;
}

.webui-popover .additional ul.suggestions  {
	clear: both;
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #999;
}

.webui-popover .additional summary  {
	cursor: pointer;
}

.webui-popover .additional blockquote  {
	border-left: 3px solid #ddd;
	padding: .5em 1em;
	margin-left: 0;
}

.webui-popover .additional textarea.prompt  {
	height: 50px;
}

.webui-popover .additional li {
	clear: both;
	margin-bottom: .7em;
}

.webui-popover .additional li button {
	cursor: pointer;
	margin-top: 0;
	margin-left: .5em;
}

.webui-popover .additional li span {
	vertical-align: middle;
}

.webui-popover .local-copy-btn {
	margin-bottom: .2em;
	cursor: pointer;
}

.webui-popover .glossary-word {
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: max(1px,0.063rem);
    text-underline-offset: 0.1em;
    text-underline-position: under;
    cursor: help;
}

/* Hide visually but not from screen readers */
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.ui-tooltip {
	background-color: #ddd;
	margin: 2px;
	padding: 6px;
	text-align: left;
	max-width: 30em;
	z-index: 999999999 !important;
	border-radius: 10px;
	position: absolute;
	top: 100px;
	left: 100px;
}

.ui-tooltip ul {
	list-style-type: none;
	margin: 2px;
	padding-left: 10px;
}

.ui-tooltip ul li {
	padding: 0;
	margin: 0;
	margin-bottom: .5em;
}

.ui-tooltip .pos {
	display:inline-block;
	font-style: italic;
	padding-right: 10px;
}

.ui-tooltip .translation {
	font-weight: bold;
}

.ui-tooltip .comment {
	display: block;
	font-size: 90%;
}

.ui-tooltip:after {
	display: block;
	content: "";
	border-color: #ddd transparent;
	border-style: solid;
	border-width: 0 10px 10px;
	width: 0;
	position: absolute;
	top: -8px;
	left: 1em;
}
